{
  "plugins": ["prettier", "jquery"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "no-negated-in-lhs": "off",
    "no-unused-vars": "off",
    "prettier/prettier": "error",
    "no-labels":"off",
    "prefer-arrow-callback": "error"
  }
}